<!DOCTYPE html>
{%extends 'index.html' %}
{%load static%}
{%block content%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospital Management System!</title>
  </head>

  <body>

      <center>
        <br>
        <br>
        <form  action="http://127.0.0.1:8000/procedure4/" method="POST">
          {%csrf_token%}
          <h3>Enter Doctor Id:</h3>
          <input type="number" name="Doctor_Id" >
          <input type="submit"/>
        </form>


        <br>
        <br>
        <br>
        <h1>Appointment and Doctor details of a patient</h1>
         <h3>Calling procedure patient_doctor()</h3>
         <hr>
          <p></p>
        <div class="container">

         <table class='table table-striped table-hover'>
             <tr>
               <th scope='col'>Patient Id</th>
               <th scope='col'>Patient Name</th>
                <th scope='col'>Appointment Date</th>
               <th scope='col'>Time</th>
               <th scope='col'>Purpose</th>
               <th scope='col'>Patient Contact No</th>
               <th scope='col'>Doctor Id</th>
               <th scope='col'>Doctor Name</th>
               <th scope='col'>Room No</th>

          </tr>
               {% for data in patient_doctor%}
               <tr scope='row'>
               <td >
                 {{data.0}}
               </td>
               <td >
                 {{data.1}}
               </td>
               <td >
                 {{data.2}}
               </td>
               <td >
                 {{data.3}}
               </td>
               <td >
                 {{data.4}}
               </td>
               <td >
                 {{data.5}}
               </td>
               <td >
                 {{data.6}}
               </td>
               <td >
                 {{data.7}}
               </td>
               <td >
                 {{data.8}}
               </td>
               <td >
                 {{data.9}}
               </td>
            </tr>
              {%endfor%}
         </table>

  </div>

      </center>
  </body>

</html>
  {% endblock %}
