<!DOCTYPE html>
{%extends 'index.html' %}
{%load static%}
{%block content%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospital Management System!</title>
  </head>

  <body>

      <center>
        <br>
        <br>
        <h3>Enter Room type:</h3>
        <input type="text" name="">
        <input type="submit" name="submit" value="Submit">
        <br>
        <br>
        <h3>Enter Availability Status:</h3>
        <input type="text" name="">
        <input type="submit" name="submit" value="Submit">
        <br>
        <br>
        <br>
        <h1>Room Availability</h1>
         <h3>Calling procedure room_filter()</h3>
         <hr>
          <p></p>
        <div class="container">

         <table class='table table-striped table-hover'>
             <tr>
               <th scope='col'>Room No</th>
               <th scope='col'>Room type</th>
                <th scope='col'>Availability Status</th>


          </tr>
               {% for data in room_filter%}
               <tr scope='row'>
               <td >
                 {{data.0}}
               </td>
               <td >
                 {{data.1}}
               </td>
               <td >
                 {{data.2}}
               </td>
               <td >
                 {{data.3}}
               </td>

            </tr>
              {%endfor%}
         </table>

  </div>

      </center>
  </body>

</html>
  {% endblock %}
