<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospital Management System!</title>
  </head>
  <body>
      <center>
        <h1>Welcome to Hospital Management System!</h1>
         <h1>Patient table</h1>
         <hr>
         <table border='1'>
             <tr>
               <th>Patient Id</th>
               <th>Patient Name</th>
               <th>Phone</th>
          </tr>
               {% for data in Patientmodel%}
               <tr>
               <td>
                 {{data.patId}}
               </td>
               <td>
                 {{data.patName}}
               </td>
               <td>
                 {{data.phone}}
               </td>
               {%endfor%}
             </tr>
         </table>


      </center>
  </body>
</html>
